<html>
<head>
    <script src="../static/index.js"></script>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/buttons.css">
    <title>Nigel Seecharan Simple Api</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="Title_div" class="titles">
        <div id="title_heading">
            <h3 class="left_indent">Welcome to Nigel Seecharan's Simple Api</h3>
        </div>
        <!--div id="login">
            <button class="btn_sizing" onclick="loginPage()">Admin Login</button>
        </div-->
    </div>

    <div id="api_info" class="left_indent">
        <p>This api is for demo purposes, and has routes that access small lists of data related to employees and tasks
        </p>
        <p>Try clicking the routes buttons before and after loggin in
        </p>
        <a href='https://nigelcodes.wordpress.com/'>Click here to learn more about me</a>
    </div>
    <br/>
    <div class="left_indent">
        <div id="test_buttons">
            <span>Routes</span>
            <div>
                <button class="btn_sizing" onclick="getAllEmployees()">/api/employees</button>
            </div>
            <div>
                <button class="btn_sizing" onclick="getAllTasks()">/api/tasks</button>
            </div>
        </div>

        <div id="test_buttons">
            <span>Test Employee: Jim Callen</span>
            <div>
                <button class="btn_sizing" onclick="demoCreateEmployee()">Create</button>
            </div>
            <div>
                <button class="btn_sizing" onclick="demofindEmployee()">Find</button>
            </div>
        </div>
        <div id="test_buttons">
            <span>Test Task: Washroom Duty</span>
            <div>
                <button class="btn_sizing" onclick="demoCreateTask()">Create</button>
            </div>
            <div>
                <button class="btn_sizing" onclick="demofindTask()">Find</button>
            </div>
        </div>
    </div>

    <div>  
        <h3>Admin Login</h3>
        <form  onsubmit = "event.preventDefault()">
            <div>
                <div> 
    
                        <label for="username">User Name</label>
                        <input id="username" name="username" type="text">
    
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password">
                        <button onclick="login()">Login</button>
                </div>
            </div>
        </form>
    </div>
    <h3 class="left_indent underline">Display Data</h3>
    <div id="data_display" class="left_indent">

        <div id="json_dsp">
            <pre id="raw_data"></pre>
        </div>
        <div id="styled_dsp">
            <div id="mock_data"></div>
        </div>

    </div>
</body>

</html>