<!DOCTYPE html>
<html>

<head>
    <script defer type="module" src="../static/scripts/home.js"></script>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/buttons.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Nigel Seecharan Simple Api</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="title-div" class="titles">
        <div id="title-heading">
            <h3>Welcome to Nigel Seecharan's Simple Api</h3>
        </div>
        <div class="small-margin">
            <p>Log in in to create, or delete newly created employees or tasks. Please note that default entries do not
                have
                the option to be modified.</p>
            <form id="login-form" onsubmit="event.preventDefault()">
                <div>
                    <label for="username">User Name</label>
                    <input id="username" name="username" type="text" autocomplete="username">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" autocomplete="current-password">
                </div>
                <button>Login</button>
            </form>
        </div>
        <div id="api-info" class="small-margin">
            <p>This api is for demo purposes, and has routes that access small lists of data related to employees and
                tasks.
            </p>
            <p>Route structure goes as follows: [website url]/api/[emoloyees or tasks]
            </p>
            <p>For more information on the routes, please refer to the project
                <a href='https://github.com/nseecharan/JavaScript-Ajax-ResApi-Simple'>readme</a>.
            </p>
            <a href='https://nigelcodes.wordpress.com/'>Click here to learn more about me</a>
        </div>
    </div>

    <div class="api-features">
        <h3 class="small-margin underline">Display Data</h3>
        <div id="load-data" class="option-border api-option-display">
            <span class="api-option-title">Api Options</span>
            <div class="api-option-inputs">
                <div id="option-inputs">
                    <button class="btn-sizing">Get Employees</button>
                    <button class="btn-sizing">Get Tasks</button>
                </div>
                <div id="search">
                    <label>Search</label>
                    <input id="search-input" type="text" />
                </div>
            </div>
        </div>
        <div id="data-display">
            <div id="styled-dsp">
                <div id="create-options">
                    <button class="btn-sizing">New Employee</button>
                    <button class="btn-sizing">New Task</button>
                </div>
                <div id="create-forms">
                    <div id="submit-emp"></div>
                    <div id="submit-task"></div>
                </div>
                <div id="mock-data">
                    <table id="renderTable" class="table-styling">
                        <thead id="tableHdr" class="thead-style"></thead>
                        <tbody id="tableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="json-dsp">
            <pre>Raw Data Display</pre>
            <pre id="raw-data"></pre>
        </div>
    </div>
    <footer>
        <div>
            <div>
                <h3 class="small-margin">Created by Nigel Seecharan 2021</h3>
            </div>
        </div>
    </footer>
</body>

</html>