button{

    border-radius: 4px;
    border: 1px solid black;
    width: max-content;
    cursor: pointer;
}
.btn_sizing{

    padding: 4px;
    margin: 4px;
}
.btn_sizing:disabled{

    cursor:not-allowed;
}
.btn_delete{

    background-color: crimson;
}
#login button{

    margin: 0px;
}
