button {
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}
.btn-sizing {
    padding: 4px !important;
    margin: 4px !important;
    height: fit-content !important;
}
.btn-sizing:disabled {
    cursor: not-allowed;
}
.btn-red {
    background-color: crimson;
}
#login button {
    margin: 0px;
}
