:root {
    --white80: rgba(255, 255, 255, 0.8);
    --white40: rgba(255, 255, 255, 0.4);
    --white20: rgba(255, 255, 255, 0.2);
    --bgRadialGrad: radial-gradient(circle at 85% 88%, palegreen -10%, lightseagreen 75%);
    --barRadialGrad: radial-gradient(at 150% 150%, #000, #006666);
    --black50: rgba(0, 0, 0, 0.5);
    --black30: rgba(0, 0, 0, 0.3);
    --black20: rgba(0, 0, 0, 0.2);
    --darkGrey50: rgba(50, 50, 50, 0.5);
    --solidGrey: rgb(100, 100, 100);
}

html {
    background: var(--bgRadialGrad);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-attachment: fixed;
}
body {
    margin: 0px;
    height: 100vh;
}
li {
    list-style-type: none;
}
pre {
    margin: 0px;
}
img {
    width: 50px;
    border-radius: 0.4em;
}
footer {
    bottom: 0;
    position: fixed;
    width: 80.1%;
    background: black;
    color: white;
    padding: 0.4em 0;
}
footer a {
    color: white;
}
footer div {
    padding: 1em;
}

#title-div {
    float: left;
    width: 19.9%;
    height: 100%;
}
#title-heading {
    background: var(--black30);
    padding: 0.4em;
}
#title-heading h3 {
    margin: 0px;
}
#login {
    float: right;
}
#login-form label {
    display: inline-block;
    min-width: 5em;
}
#login-form div {
    margin-bottom: 0.4em;
    display: grid;
}
#api-info {
    background: var(--white20);
    border-radius: 4px;
    padding: 0.4em;
}
#create-forms {
    max-width: 200px;
}
#form-title {
    float: left;
}
#data-display {
    margin: auto;
}
#raw-data {
    height: 180px;
    margin: 0.4em auto;
    overflow: auto;
    width: 100%;
}
#mock-data {
    height: 30em;
    overflow: auto;
    max-width: max-content;
    width: 100%;
    margin: auto;
}
#json-dsp,
#styled-dsp {
    border-radius: 8px;
    background-color: var(--black20);
    padding: 1em;
    margin: 0.4em;
}
#styled-dsp {
    display: flow-root;
}
#json-dsp {
    height: 200px;
    color: white;
}
#mock-display tr {
    border: 1px solid black;
}
#option-inputs {
    margin: auto;
    width: max-content;
}
#search {
    margin: 0.4em;
}
#search input {
    width: 100%;
}
#tested {
    float: right;
}
.titles {
    color: var(--white80);
    display: flow-root;
    background-image: var(--barRadialGrad);
    border-right: 1px solid black;
}
.api-option-inputs {
    width: 200px;
    margin: 0.4em;
}
.option-border {
    border: 2px solid var(--white80);
    border-radius: 4px;
    height: max-content;
    color: black;
}
.api-features {
    float: left;
    width: 79.9%;
    overflow-y: auto;
    height: 100%;
}
.api-option-display {
    min-height: 6em;
    margin: 0.4em;
}
.options {
    margin: 0 4px 1em;
}
.api-option-title {
    background-color: var(--white80);
    display: block;
}
.center-content {
    text-align: center;
}
.form-heading {
    background-color: var(--white80);
    height: 2em;
}
.option-form {
    display: block;
    margin: 0px;
    margin-block-end: 0px;
    padding: 4px;
    text-align: center;
}
.option-form input,
select {
    padding: inherit;
    display: block;
    margin: auto;
    width: 90%;
}
.form-image-preview {
    display: block;
    margin: 0.4em auto;
    border-radius: 4px;
    background: var(--darkGrey50);
    padding: 10px;
    height: 50px;
    width: 50px;
}
.data-display-background {
    border-radius: 0.4em;
    background: linear-gradient(135deg, transparent, var(--black50));
    border-left: 1px solid var(--white40);
    border-top: 1px solid var(--white40);
    border-bottom: 1px solid var(--black20);
    border-right: 1px solid var(--black20);
}
.table-styling {
    border-spacing: 0;
    width: inherit;
}
.th-style {
    width: 10em;
    padding: 0.4em;
    border-bottom: 1px solid var(--black50);
}
.th-action {
    width: 10em;
    padding: 0.4em;
    text-align: center;
    border-left: 1px solid;
    border-bottom: 1px solid var(--black50);
}
.thead-style {
    text-align: left;
}
.td-style {
    padding: 0.4em;
    border-bottom: 1px solid var(--black50);
    color: white;
}
.td-action {
    padding: 0.4em;
    border-bottom: 1px solid var(--black50);
    border-left: 1px solid var(--black50);
}
.emp-form-danger-zone,
.task-form-danger-zone {
    border-radius: 4px;
    background: var(--white80);
    margin-top: 1em;
}
.emp-form-danger-zone span,
.task-form-danger-zone span {
    display: block;
    background: crimson;
    color: white;
    border-radius: 4px 4px 0px 0px;
}
.error-background {
    background-color: white;
    color: black;
    padding: 4px;
    margin: 0.4em auto;
    display: block;
    border-radius: 4px;
    text-align: center;
    border: 2px solid darkseagreen;
}
.container {
    display: flex;
}
.small-margin {
    margin: 0.4em;
}
.underline {
    color: var(--white80);
    border-bottom: 2px solid var(--white80);
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.no-display {
    display: none;
    background-color: none;
}

@media (max-width: 900px) {
    .api-features {
        width: 100%;
        overflow: inherit;
    }
    #title-div {
        width: 100%;
        height: max-content;
    }
    .titles {
        border-bottom: 1px solid black;
        border-right: 0px;
    }
    footer {
        width: 100%;
    }
}
@media (max-width: 795px) {
    .container {
        display: block;
    }
    #create-forms {
        max-width: 100%;
    }
    /*
    .option-form input,
    select {
        width: 75%;
    }
    .option-form {
        display: flex;
        padding: 0px;
        margin: auto;
        width: max-content;
    }
    */
}
@media (max-height: 510px) {
    .api-features {
        width: 100%;
        overflow: inherit;
    }
    #title-div {
        width: 100%;
        height: max-content;
    }
    .titles {
        border-bottom: 1px solid black;
        border-right: 0px;
    }
    footer {
        width: 100%;
    }
}
@media (max-height: 910px) {
    footer {
        position: sticky;
        width: 100%;
    }
}
