html {
    background: radial-gradient(circle at 85% 88%, palegreen -10%, lightseagreen 75%);
}
body {
    margin: 0px;
}
li {
    list-style-type: none;
}
pre {
    margin: 0px;
}
img {
    width: 50px;
}
.left-indent {
    margin-left: 0.4em;
}
.underline {
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.titles {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
}
#title-div {
    padding: 1em 0.4em;
}
#title-heading {
    display: inline-table;
}
#title-heading h3 {
    margin: 0px;
}
#login {
    float: right;
}
#login-form label {
    display: inline-block;
    min-width: 5em;
}
#login-form div {
    margin-bottom: 0.4em;
}
/*#create-options,
#submint-emp,
#submint-task,*/
#search {
    display: none;
}
#create-forms {
    float: left;
}
#form-title {
    float: left;
}
#cancel-btn {
    float: right;
}
#data-display {
    margin: auto;
}
#raw-data {
    height: 180px;
    margin: 0.4em auto;
    overflow: auto;
    width: 100%;
}
#mock-data {
    resize: none;
    height: 24em;
    overflow: auto;
    float: left;
    width: 100%;
}
#json-dsp,
#styled-dsp {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 1em;
    margin: 0.4em;
}
#styled-dsp {
    display: flow-root;
}
#json-dsp {
    height: 200px;
}
#mock-display tr {
    border: 1px solid black;
}
#option-inputs {
    margin: auto;
    width: max-content;
}
#search {
    margin: 0.4em;
}
#search input {
    width: 100%;
}
.api-option-inputs {
    width: 200px;
    margin: 0.4em;
}
.option-border {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    height: max-content;
    color: black;
}
.api-option-display {
    min-height: 6em;
    margin: 4px;
}
.options {
    /* width: 33.33%;*/
    max-width: 200px;
    min-height: 6em;
    margin: 4px;
}
.api-option-title {
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
}
.center-content {
    text-align: center;
}
.form-heading {
    background-color: rgba(255, 255, 255, 0.8);
    height: 2em;
}
.create-form {
    display: block;
    margin: 0px;
    margin-block-end: 0px;
    padding: 4px;
    text-align: center;
}
.create-form input,
select {
    width: 100%;
}
.login {
    display: inline-block;
}

/*render data*/
.table-styling {
    border-spacing: 0;
    width: inherit;
}
.th-style {
    width: 10em;
    padding: 0.4em;
}
.th-action {
    width: 10em;
    padding: 0.4em;
    text-align: center;
    border-left: 1px solid;
}
.thead-style {
    background-color: rgb(100, 100, 100);
    text-align: left;
}
.td-style {
    padding: 0.4em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.td-action {
    padding: 0.4em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}
